.achievementsContainer {
  background-image: url("../../../public/imgs/achievements-bg.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

.achievementsContentContainer {
  margin: 4rem;
  padding: 3rem;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}

@media (max-width: 800px) {
  .achievmentsTitle {
    font-size: 2rem;
  }
}
