.contactMeContainer {
  margin: 6rem auto;
  position: relative;
  height: 550px;
  overflow: hidden;
}

.socialBtnsContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.socialBtnsContainer Button {
  display: flex;
  align-items: baseline;
  gap: 5px;
}
